@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap&family=Montserrat&display=swap&family=Bebas+Neue&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #b3bf96;
    background: rgb(65,159,1);
    background: linear-gradient(30deg, rgba(65,159,1,0.4) 0%, rgba(0,206,240,0.2) 60%, rgba(247,197,35,0.6) 100%);
}

header {
    display: flex;
    height: 100px;
    max-height: 100px;
}

.header_logo {
    display: flex;

    & a {
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        margin-left: 1.5rem;
    }

    & img {
        height: 80%;
        margin-right: 1.5rem;
    }

    & h1 {
        font-family: "Kalam", sans-serif;
        font-weight: 700;
        font-size: 40px;
    }

}


.header_nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    
    & nav > a {
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        color: black;
        text-align: center;
        margin-left: 2rem;
        letter-spacing: 1.5px;
        font-size: 20px;
    }

    & nav > a.selected {
        border-bottom: 2px solid black;
    }
}

.section_play_now {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgb(226, 182, 38) 20%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
    height: calc(100svh - 100px);
    min-height: 600px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    & > * {
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
    
    
    & .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        width: 70svw;
        width: clamp(600px, 70svw, 1000px);
        
        min-height: 0;
        
        background-color: rgb(100, 100, 100, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        padding: 50px;
        
        & h1 {
            font-family: "Bebas Neue";
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: 60px;
            margin: 0;
            padding: 0;
        }

        & a {
            background: rgb(34,195,74);
            background: linear-gradient(130deg, rgba(34,195,74,1) 0%, rgba(132,190,129,1) 49%, rgba(45,253,223,1) 100%);
            
            width: fit-content;
            margin: 0 auto;
            margin-top: 20px;
            border-radius: 20px;
            padding: 20px 50px;
            
            font-family: "Montserrat", sans-serif;
            text-decoration: none;
            color: white;
            text-align: center;
            letter-spacing: 1.5px;
            font-size: 20px;
        }

        & p {
            font-family: "Montserrat", sans-serif;
            letter-spacing: 1.5px;
            font-size: 20px;
        }
    }



}


.header_theme {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
}

.switch {
    -webkit-appearance: none;
    position: relative;
    width: 100px;
    height: 50px;
    background-image: url(https://i.postimg.cc/QtJpZbkp/planete-polluer.jpg );
    background-size: cover;
    border-radius:25px;
    outline: none;
    transition: background-image .90s;
    box-shadow: 0px 2px 5px 1px gray;
  }
  
.switch:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: navy;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    transition: all .9s;
    background-color: #717c81;
  }
  
.switch:checked {
    background-image: url(https://i.postimg.cc/hv4VDdpN/planete-pas-polluer.jpg);
    transition: background-image .90s;
  
}

.switch:checked:before {
    transform: translate(100%);
    transition: all .9s;
    background-color: #fead35;
  }
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--header-outer-height: 110px;
	--header-inner-height: 70px;
	--header-height-difference: calc(
		var(--header-outer-height) - var(--header-inner-height)
	);
	--header-bg: #fff;
}

body {
	font-family: "DM Sans", sans-serif;
	background-color: #f2f5f7;
	line-height: 1.5;
	min-height: 300vh;
	position: relative;
    margin: 0;
    padding: 0;
    background: rgb(65,159,1);
    background: linear-gradient(30deg, rgba(65,159,1,0.4) 0%, rgba(0,206,240,0.2) 60%, rgba(247,197,35,0.6) 100%);
}

.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.main {
	margin-top: 3rem;
}

.widget {
	width: 95%;
    height: 95%;
	max-width: 600px;
	border-radius: 8px;
	box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
	background-color: rgba(256, 256, 256, 0.5);
    backdrop-filter: blur(10px);
	padding: 2.5rem;
	margin: 2rem;
	font-size: 1.125rem;
    transition: transform 0.25s ease;
}
.widget:hover {
    transform: translate(-5px, -5px); /* DÃ©placer la div vers la droite et vers le bas */
    transform: translate(-5px, -5px); /* Déplacer la div vers la droite et vers le bas */
}

.clickOnWidget {
    text-decoration: none;
    color: black;
}

.widget > * + * {
	margin-top: 1.25em;
}

.widget h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.25;
}

.widget .lienVersArticle {
    color: green;
}

.widget code {
	display: inline-block;
	padding: 0.125em 0.25em;
	border-radius: 2px;
	background-color: #bee5d3;
}

.widget strong {
	font-weight: 700;
}

@media (min-width: 800px) {
	.header-navigation a {
		display: inline-block;
	}

	.header-navigation button {
		display: none;
	}
}

/* ARTICLES */

.sectionArticle {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionArticle > .article {
    width: calc(50% - 20px);
    box-sizing: border-box; 
}

/* Media Query */
@media screen and (max-width: 800px) {
    .sectionArticle > .article {
        width: calc(100% - 20px); 
    }
}


header {
    display: flex;
    height: 100px;
    overflow: hidden;
}

.header_logo {
    display: flex;

    & a {
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        margin-left: 1.5rem;
    }

    & img {
        height: 80%;
        margin-right: 1.5rem;
    }

    & h1 {
        font-family: "Kalam", sans-serif;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -1.5px;
    }
}

.header_nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    
    & nav > a {
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        color: black;
        text-align: center;
        margin-left: 2rem;
        letter-spacing: 1.5px;
        font-size: 20px;
    }

    & nav > a.selected {
        border-bottom: 2px solid black;
    }
}



/* video article */

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.machin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.machin > .video {
    width: 50%;
    padding: 2rem;
}

.machin > p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4vw;
    letter-spacing: 1.5px;
    text-align: justify;
    width: 50%;
}


/* media query video article */

@media screen and (max-width: 1000px) {
    .machin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    .machin > .video {
        width: 90%;
        padding: 2rem;
    }
    
    .machin > p {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        
        letter-spacing: 1.5px;
        text-align: justify;
        width: 90%;
    }
}
